.pop-up{
    display: none;
    justify-items: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    position:fixed;
}
.pop-up-contenido{
    display: grid;
    align-items: center;
    justify-items: center;
    height: 550px;
    width: 550px;
    background-color: white;
}
.default{
    background-color: lightgray;
    gap:5px;
    padding: 5px;
    width: 540px;
    text-align: center;
    border: 1px solid black;
}
button{
    background-color: lightskyblue;
    border-radius: 5px;
    border: 2px solid black ;
    width: 100px;
}
button:hover{
    background-color: royalblue;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section div img{
    width: 180px;
    opacity: 70%;
}
span img{
    width: 300px;
}
section >img{
    width: 550px;
    height: 364px;
    object-fit: cover;
}